
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
/* font-family: 'Nunito', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
/* font-family: 'Montserrat', ; */
/*************************
        General Style
**************************/
p {
    font-size: 16px;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    color:inherit;
    font-weight: inherit;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 12px;
}
span,a {
    display: inline-block;
}
a:hover,
a:focus {
    color: inherit;
    text-decoration:none;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: none;
}
select{
    background-image: url('../images/down-icons.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: transparent;
    padding: 8px 12px;
    -webkit-appearance: none;
    border: 1px solid #C9C9C9;
    width: 100%;
    border-radius: 5px;
}
input {
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}
label{
    color:#3E1551;
    font-weight:400;
    font-size:14px;
    display: block;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
img {
    max-width: 100%;
    display: block;
}
.cus-row {
    display: flex;
    flex-wrap: wrap;
}
.upload-imgs .dropzone {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
}
.upload-imgs .dropzone {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
}
.upload-imgs .dz-default.dz-message {
    height: 100%;
    margin: 0;
}
.upload-imgs .dz-preview {
    position: relative;
    border: 1px solid #cecece;
    border-radius: 20px;
}
.upload-imgs .dropzone .dz-preview .dz-image{
    display:flex;
    align-items:center;

}
.upload-imgs .dz-preview .dz-remove {
    position: absolute;
    top: -10px;
    z-index: 99;
    font-size: 0!important;
    background-image: url('../images/close-icon.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-position: center;
    right: -10px;
}
.upload-imgs .dz-default.dz-message {
    height: 100%;
    margin: 0;
}
.upload-imgs {
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
}
.custom-upload {
    margin: 0;
    text-align: center;
    display: block;
}
.custom-upload span {
    background-color: #6777ef;
    padding: 5px;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
    margin-right: 5px;
}
.full-column-team {
    width: 100%;
    transition: 0.3s ease-in-out;
}
.event-columnss {
    width: 800px;
    margin: 0 auto;
}
.event-columnss .from-row .half-column {
    width: 48%;
    padding-right:0;
}
.event-columnss .from-row{
    justify-content: space-between;
}
.match-title-name {
    background-color: #6777ef;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.match-title-name h4 {
    color: #fff;
    font-weight: 700;
}
.cus-row.tabs-actives .tabs-forms {
    display: block;
}
.adjust .validate-icon {
    top: initial;
    right: 13px;
    display: flex;
    align-items: center;
    height: auto;
    color: red;
    bottom: 25px;
}
.cus-row.event-add-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cus-row.event-add-name .end-event-btn {
    margin: 0;
}
.cus-row.tabs-actives .event-column {
    max-height: 100%;
    transition: 0.3s ease-in-out;
}
.match-title-name .angle-up {
    display: none;
}
.match-title-name  .fa {
    color: #fff;
}
.match-title-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cus-row.tabs-actives .match-title-name .angle-up {
    display: block;
}

.cus-row.tabs-actives .match-title-name .angle-down {
    display: none;
}
.cus-row.tabs-actives .tabs-forms .animate-row .animate-column1 {
    position: relative;
}
.left-content .match-title-name {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}
.account-seeting.left-content .match-title-name {
    margin-top: 0;
    max-width: 100%;
}
.cus-row.tabs-actives .tabs-forms .event-repeater {
    background-color: transparent;
    padding: 0;
}
.cus-row.tabs-actives .tabs-forms .animate-row {
    width: 50%;
}
.reported-video-container .match-title-name {
    background-color: #fff;
    width: 100%;
    margin: 0;
    border-radius: 0;
}
.cus-row.tabs-actives .tabs-forms .nav-tabs {
    border: none;
    margin-bottom: 20px;
}
.reported-tabs {
    padding: 20px;
}
.cus-row.tabs-actives .tabs-forms .nav-tabs li a {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
}
.cus-row.tabs-actives .tabs-forms .nav-tabs li {
    padding-right: 30px;
}
.cus-row.tabs-actives .tabs-forms .nav-tabs li a.active {
    color: #000;
}
.cus-row.tabs-actives .tabs-forms .nav-tabs li a.active span {
    color: #EE2357;
}
@media (max-width: 991px){
    .login .cus-row {
        flex-direction: column-reverse;
    }
}